<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>Главное меню</title>
    <link rel="stylesheet" href="{% static 'progarantii_app/css/menu.css'%}">
</head>
<body>
    <!--Кнопка выхода-->
    <form method="post" action="{% url 'account_logout' %}" class="logout-form">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>

    <div>
        <h1>Главное меню</h1>
        <!-- Кнопка "Создать объект" -->
        <a href="{% url 'possiblerangeprices' %}" class="big-button">Задать диапазоны цен банков</a>
        <!-- Кнопка "Добавить %" -->
        <a href="{% url 'basebanksprices' %}" class="big-button">Управление базовыми ставками</a>
    </div>
</body>
</html>